@model Petsani.Models.mContact
<br />
<div class="jumbotron text-center">
    <h1>İletişim</h1>

</div>


<section id="contact">
    <div class="container">
        <div class="well well-sm">
            <h3><strong>Google Harita</strong></h3>
        </div>

        <div class="row">
            <div class="col-md-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6011.41612582352!2d29.00642392440222!3d41.11906647005948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5557a0efbdd%3A0x61fe6ea711c0c82a!2zTmnFn2FudGHFn8SxIMOcbml2ZXJzaXRlc2kgTmVvdGVjaCBLYW1ww7xzw7w!5e0!3m2!1str!2str!4v1642781112387!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            </div>

            <div class="col-md-5">
                <h4><strong>İletişim</strong></h4>
                <form id="contact-form" action="/MessageSave/Index" method="post" role="form" style="display: block;">
                    <input name="__RequestVerificationToken" type="hidden" value="UhHMIx16D02PC61VQbj837Z6fPDcapdLs5SQzr5O2DaSyecTBGnDhigoH1xMmB551U-CrWuisYJQU4TBLp3nCSryTg3SNaolGaiP2eXze481" />
                    <div class="form-group">
                        <input type="text" class="form-control" name="Name" value="" placeholder="İsim">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="Email" value="" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="Tel" value="" placeholder="Telefon">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Message" rows="3" placeholder="Mesajınız"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit" name="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Tamam
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</section>
